<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>maths calculator</title>
</head>
<body>
<h1 align>maths calculator</h1>
<form action="/Sum" method="get">
    <p>
        FIRST NUMBER<input type="text" name="f1">

    </p>
    <p>
        SECOND NUMBER<input type="text" name="s1">
    </p>
     <div>
        SUM<input type="submit"  Value="Sum"  name="s"   >
        Difference<input type="submit" Value="Diff" name="d">
                Multiply<input type="submit" Value="Mult" name="m">
                 Difference<input type="submit" Value="Divide" name="div">

    </div>


</form>

</body>
</html>